.done {
  text-decoration: line-through;
}

.delete {
  color: red;
  position: absolute;
  left: 180px;
  background-color: white;
  border: none;
}

.delete:hover {
  background-color: red;
  color: white;
  font-weight: bold;
}

#list li {
  cursor: pointer;
}

